{:items [{:name "Ryzen 9 - 5950"
          :store "Coolblue"
          :availability-checker petar.dev.reblue.coolblue/available?
          :url "https://www.coolblue.nl/product/871392/amd-ryzen-9-5950x.html"}]}
